<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h1>Freelance Projects</h1>
        <h5>In addition to this portfolio site, built in Middleman to emulate Ruby on Rails functionality in a static website, below is a list of client projects that demonstrate my skillset and knowledgebase.</h5>
        <div class="container">
          <div class="row">
            <% data.projects.each do |project| %>
              <button class="btn btn-danger my-1" type="button" data-bs-toggle="collapse" data-bs-target="#<%= project.id %>" aria-expanded="false" aria-controls="<%= project.id %>">
                <%= project.name %>
              </button>
              <div class="collapse" id="<%= project.id %>">
                <div class="card card-body shadow">
                  <p><%= project.description %></p>
                  <%= link_to image_tag(project.image, alt: "project image", class: "w-100"), project.url %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
